<!DOCTYPE html>
<html>
<head>
    <title>Каталог капельниц</title>
</head>
<body>
    <h1>Каталог капельниц</h1>
    <ul>
        {% for drip in drips %}
            <li>
                <strong>{{ drip.name }}</strong> — {{ drip.price }} ₽
                {% comment %} <a href="{% url 'services:drip_detail' drip.id %}">Подробнее</a> {% endcomment %}

                <!-- Кнопка добавления в корзину -->
                <form action="{% url 'cart:cart_add' drip.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Добавить в корзину</button>
                </form>
            </li>
        {% empty %}
            <li>Нет капельниц</li>
        {% endfor %}
    </ul>
    <br>
    <a href="{% url 'services:drip_admin' %}">Админка капельниц</a>
    <a href="{% url 'cart:cart_detail' %}">Перейти в корзину</a>
</body>
</html>

        

