{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h2>Личный кабинет</h2>
    <p><strong>ФИО:</strong> {{ user.last_name }} {{ user.first_name }} {{ user.patronymic }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Телефон:</strong> {{ user.phone_number }}</p>
    <p><a href="{% url 'users:update_phone' %}">Изменить номер телефона</a></p>
    <p><a href="{% url 'users:logout' %}">Выйти</a></p>
    <p><a href="{% url 'core:home' %}">Главная страница</a></p>

    <h1>Мои заказы</h1>
    <table border="1">
        <tr>
            <th>Номер заказа</th>
            <th>Сумма</th>
            <th>Дата/Время</th>
            <th>Действие</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.total_price }}</td>
            <td>{{ order.created_at }}</td>
            <td><a href="{% url 'orders:order_detail' order.id %}">Подробнее</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">У вас пока нет заказов</td>
        </tr>
        {% endfor %}
    </table>
    
    
{% endblock %}