<!DOCTYPE html>
<html>
<head>
    <title>Корзина</title>
</head>
<body>
    <h1>Ваша корзина</h1>
    <ul>
        {% for item in cart.items.all %}
            <li>
                {{ item.service.name }} — {{ item.quantity }} × {{ item.service.price }} ₽ =
                {{ item.total_price }} ₽

                <!-- Кнопка удалить -->
                <form action="{% url 'cart:cart_remove' item.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">Удалить</button>
                </form>
            </li>
        {% empty %}
            <li>Корзина пуста</li>
        {% endfor %}
    </ul>

    {% if cart.items.all %}
        <a href="{% url 'orders:order_create' %}">Оформить заказ</a>
    {% endif %}
    <br>
    <a href="{% url 'services:drip_list' %}">Вернуться к услугам</a>
    <p><a href="{% url 'core:home' %}">Главная страница</a></p>
</body>
</html>
