/* ==========================================================================
  БЛОК: Переменные CSS
  ========================================================================== */
:root {
  --primary-color: #54b3d6; /* Основной цвет: голубой */
  --text-color: #333; /* Цвет текста: темно-серый */
  --light-text-color: #bcbcbc; /* Светлый цвет текста: серый */
  --border-color: #ddd; /* Цвет границы: светло-серый */
  --background-color: #f8f8f8; /* Цвет фона: очень светло-серый */
  --secondary-bg-color: #fafafa; /* Дополнительный цвет фона: почти белый */
}