{% extends "base.html" %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
{% endblock %}

{% block content %}
<main class="order-page page-inner">
    <h2 class="form-title">Оформление заказа</h2>

    <div class="order-form">
        <h3 class="order-summary-title">Ваш заказ:</h3>
        <ul class="order-items-list">
            {% for item in cart.items.all %}
                <li class="order-item">
                    <span class="item-name">{{ item.service.name }}</span>
                    <span class="item-details">{{ item.quantity }} × {{ item.service.price }} ₽</span>
                </li>
            {% endfor %}
        </ul>
        <div class="order-total-price">
            <span class="total-text">Общая стоимость:</span>
            <span class="total-price">{{ cart.get_total_price }} ₽</span>
        </div>

        {% if request.user.is_authenticated %}
            <form method="post" class="order-confirmation-form">
                {% csrf_token %}
                <button type="submit" class="btn-primary">Подтвердить заказ</button>
            </form>
        {% else %}
            <form method="post" class="order-guest-form">
                {% csrf_token %}
                <p class="form-description">Для оформления заказа, пожалуйста, заполните ваши данные.</p>
                <div class="form-group">
                    <label for="id_name" class="form-label">Ваше имя:</label>
                    <input type="text" name="name" id="id_name" required>
                </div>
                <div class="form-group">
                    <label for="id_phone" class="form-label">Телефон:</label>
                    <input type="text" name="phone" id="id_phone" required>
                </div>
                <button type="submit" class="btn-primary">Подтвердить заказ</button>
            </form>
        {% endif %}
    </div>

    <a href="{% url 'core:home' %}" class="link-home">Главная страница</a>
</main>
{% endblock %}
